@import "./mixins";
@import "./theme";

.about {
  background-color: $light-grey;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-landscape {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
    }

    @include desktop {
      gap: 4rem;
    }
  }

  &-img {
    width: 100%;
    object-fit: cover;

    @include mobile-landscape {
      width: 90%;
    }

    @include tablet-landscape {
      width: 50%;
    }

    @include desktop-wide {
      width: 35%;
    }
  }

  &-info {
    margin-top: 1.25rem;

    @include mobile-landscape {
      max-width: 90%;
    }

    @include tablet-landscape {
      margin-top: 0;
    }

    p {
      margin: 1rem 0;
      max-width: 60ch;
      font-size: 0.9rem;
      line-height: 1.25rem;

      @include desktop-wide {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      &:first-child {
        @include tablet-landscape {
          margin-top: 0;
        }
      }
    }
  }
}
