@import "./theme";

.attribution {
  margin: 0;
  padding: 1rem 0;
  color: $text-color--contrast;
  background-color: $medium-grey;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.5rem;
}
