@import "./mixins";
@import "./theme";

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5rem 0 0;
  padding-top: 2rem;
  justify-content: space-between;
  background-color: $light-grey;

  @include tablet-portrait {
    padding-top: 2.5rem;
  }

  @include desktop-small {
    // padding: 2.5rem 8rem 0;
  }

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    // flex-basis: 50%;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .site-links {
    margin-top: 0;
    flex-basis: 25%;

    p {
      margin-top: 0;
      font-weight: 500;
      border-bottom: 1px solid $text-color--main;
    }

    li {
      height: 1.5rem;

      a {
        text-decoration: underline;
        color: $text-color--main;
      }
    }
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      // width: 18ch;
      margin: 0;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    &-icon {
      width: 2rem;
    }
  }
}
