@import "./mixins";
@import "./theme";

/* Global styling across Page sections */
body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-color--main;
}

section,
header,
footer {
  padding: 1rem;
  margin-bottom: 1rem;

  @include mobile-expand {
    padding: 1rem clamp(1rem, calc(100% - 375px), 2.5rem);
  }
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  color: $text-color--main;

  @include mobile-expand {
    font-size: clamp(2rem, 8vw, 2.75rem);
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: $text-color--main;

  @include mobile-expand {
    font-size: clamp(1.5rem, 8vw, 2rem);
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
