@import "./mixins";

header {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  & .logo {
    width: 25px;
    height: 25px;
  }

  & .hamburger-icon {
    width: 1.5em;
    height: 1em;
  }

  & .close-icon {
    display: none;
  }

  nav {
    display: none;
    position: absolute;
    width: calc(100% + 1em);
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
    left: -1em;
    top: -11px;

    padding-left: 2.5em;
    padding-top: 5em;

    @include tablet-portrait {
      display: flex;
      justify-content: space-between;
      width: 386px;
      transform: translateX(25%);
      height: unset;
      background-color: unset;
      left: 0;
      top: 4.5em;
      padding: 0;
    }

    @include tablet {
      position: unset;
      justify-content: unset;
      width: unset;
      transform: unset;
    }

    & li {
      margin-bottom: 1em;

      @include tablet-portrait {
        margin: 0.5em;
        font-family: "Alata", "san-serif";
        text-transform: none;
        font-size: 1rem;
      }

      @include desktop {
        margin: 0;
        margin-left: 2em;
      }
    }

    img {
      position: absolute;
      top: 1.7em;
      left: 2em;

      @include tablet-portrait {
        display: none;
      }
    }
  }
}

.res-menu {
  &-input {
    opacity: 0;
    z-index: 1;

    &:checked ~ nav {
      display: block;
    }

    &:checked ~ label .res-menu-hamburger-icon {
      display: none;
    }

    &:checked ~ label .res-menu-close-icon {
      display: block;
    }
  }

  &-close-icon {
    display: none;
  }

  &-label {
    position: relative;
    margin-left: auto;
    cursor: pointer;
    z-index: 2;

    & img {
      position: absolute;
      top: 0;
      left: -1em;

      @include tablet-portrait {
        display: none;
      }
    }
  }
}
