@import "./mixins";
@import "./theme";

.landing {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  @include desktop-small {
    flex-direction: row;
  }

  @include desktop-small {
    padding: 5rem 2.5rem;
  }

  /* Social Media and Professional Links Styling */
  &-social {
    margin: 0.25rem 0 1rem;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      li {
        width: 1.5em;
        margin-bottom: 0.5em;
      }
    }

    &-icon {
      width: 1.5rem;
      // background-color: $bg-color--second;
      // border-radius: 15px;
    }
  }

  &-intro {
    color: $text-color--main;
    margin-bottom: 2rem;

    h1 {
      font-size: 2.25rem;
      margin: 0 0 0.25em;

      @include mobile-expand {
        font-size: clamp(2.5rem, 10vw, 3.75rem);
      }

      @include desktop-small {
        font-size: 3rem;
      }
    }

    & h2 {
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0 0 1.15em;

      @include mobile-expand {
        font-size: clamp(1.25rem, 10vw, 2rem);
        border: 2px red;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.25rem;
      max-width: 60ch;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-cta {
    margin: 4rem 0 2.5rem;

    // margin: 2.25rem 0 3rem;
    font-weight: 500;

    a {
      padding: 0.5rem 1rem;
    }

    a:first-child {
      margin-right: 1rem;
    }
  }

  &-hero-image {
    object-fit: cover;

    @include desktop-small {
      width: 60%;
    }
  }
}
