@import "./theme";

.landing {
  padding: 1em;
  display: flex;
  flex-direction: column;

  /* Social Media and Professional Links Styling */
  &-social {
    margin-bottom: 0.75rem;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      li {
        width: 1.5em;
        margin-bottom: 0.5em;
      }
    }

    &-icon {
      width: 1.5rem;
      // background-color: $bg-color--second;
      // border-radius: 15px;
    }
  }

  &-intro {
    color: $text-color--main;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin: 0 0 0.25em;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 0 1.5em;
    }

    p {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
