@import "./mixins";
@import "./theme";

/* Project-directory styling */
.project-directory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  @include tablet-landscape {
    flex-direction: row;
    gap: 2.5rem;
  }

  @include desktop {
    gap: 4rem;
  }
}

/* Project (individual item) styling */

.project {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-bottom: 1rem;
  background-color: $bg-color--second;
  border-radius: 5px;

  @include tablet-landscape {
    max-width: 47%;
  }

  @include desktop-small {
    padding: 1rem;
  }

  @include desktop {
    width: 45%;
  }

  @include desktop-wide {
    max-width: 40%;
  }

  &-images {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;

    @include mobile-expand {
      padding: 1rem;
    }
  }

  &-snapshot {
    object-fit: contain;
  }

  &-info {
    // background-color: $bg-color--second;
    padding: 1rem;
    color: $text-color--contrast;

    & h3 {
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0 0 0.75rem;
      color: $text-color--contrast;

      @include mobile-landscape {
        margin: 0 0 1.15rem;
      }
    }

    & p {
      font-size: 0.9rem;
      line-height: 1.4rem;

      @include mobile-landscape {
        font-size: 1rem;
      }
    }
  }

  &-tech {
    margin: 1.75rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @include mobile-landscape {
      margin: 2rem 0;
    }

    & li {
      font-size: 0.8rem;
      background-color: $color-blue;
      color: $text-color--contrast;

      padding: 0.5rem 1rem;
      line-height: 1rem;
      border-radius: 16px;

      @include mobile-landscape {
        font-size: 1rem;
        padding: 0.75rem 1rem;
      }
    }
  }

  &-links {
    font-size: 0.85rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-around;

    @include mobile-landscape {
      font-size: 1rem;
    }

    & a {
      color: $color-green;
      border-bottom: 1px solid $color-green;
    }
  }
}
