@import "./theme";

.projects {
  margin: 0 1rem;
  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: $text-color--main;
  }
}

/* Project-directory styling */
.project-directory {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Project (individual item) styling */

.project {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: $bg-color--second;

  &-images {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  &-snapshot {
    object-fit: cover;
  }

  &-info {
    // background-color: $bg-color--second;
    padding: 1rem;
    color: $text-color--contrast;

    & h3 {
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0 0 0.5rem;
      color: $color-blue;
    }

    & p {
      font-size: 0.9rem;
      line-height: 1.4rem;
    }
  }

  &-tech {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    & li {
      font-size: 0.8rem;
      background-color: $color-blue;
      color: $text-color--contrast;

      padding: 0.5rem 1rem;
      line-height: 1rem;
      border-radius: 16px;
    }
  }

  &-links {
    font-size: 0.85rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-around;

    & a {
      color: $color-green;
      border-bottom: 1px solid $color-green;
    }
  }
}
