@import "./mixins";
@import "./theme";

.skillset {
  background-color: $light-grey;

  &-directory {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.5rem;

    @include mobile-expand {
      gap: 1rem;
    }

    @include mobile-landscape {
      gap: 1.75rem;
    }

    @include tablet-landscape {
      flex-direction: row;
      gap: 2.5rem;
    }

    @include desktop {
      row-gap: 4rem;
    }

    h3 {
      width: 100%;
      font-size: 1.25rem;
      height: 1.25rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 0.75rem;
    }
  }

  &-subgroup {
    background-color: $off-white;
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1rem;
    border-radius: 10px;

    @include tablet-landscape {
      max-width: 45%;
    }

    @include desktop-small {
      padding: 1rem;
      max-width: 43%;
    }

    @include desktop {
      max-width: 26%;
    }
  }

  &-card {
    flex-basis: 6rem;
    text-align: center;

    & img {
      height: 5rem;
      width: 5rem;
      object-fit: contain;
    }

    // Padding and dark background for white colored logos
    .dark-bg {
      padding: 0.25rem;
      background-color: $bg-color--second;
    }

    p {
      margin: 0.5rem 0 1rem;
      // width: 5rem;
      font-size: 0.9rem;
      overflow-wrap: normal;

      @include mobile-landscape {
        font-size: 1rem;
      }
    }
  }
}
