@import "./theme";

.skillset {
  &-directory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;

    h3 {
      flex: 0 0 100%;
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
    }
  }

  &-card {
    text-align: center;

    & img {
      height: 5rem;
      width: 5rem;
      object-fit: contain;
    }

    // Padding and dark background for white colored logos
    .dark-bg {
      padding: 0.25rem;
      background-color: $bg-color--second;
    }

    p {
      margin: 0.5rem 0 1rem;
      width: 5rem;
      font-size: 0.9rem;
      overflow-wrap: normal;
    }
  }
}
