$text-color--main: #000;
$text-color--contrast: #fff;

$bg-color--main: #fff;
$bg-color--second: #404040;

$off-white: #f9f9f9;
$light-grey: #e4e4e4;
$medium-grey: #4c4c4c;
$dark-grey: #303030;

$color-blue: #0049b8;
$color-green: #1fde5d;
$color-orange: #de6d1f;

$font-title: "Noto Serif";
$font-alt-title: "Crimson Pro";
$font-text: "Poppins";
