body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
header .logo {
  width: 25px;
  height: 25px;
}
header .hamburger-icon {
  width: 1.5em;
  height: 1em;
}
header .close-icon {
  display: none;
}
header nav {
  display: none;
  position: absolute;
  width: calc(100% + 1em);
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: white;
  left: -1em;
  top: -11px;
  padding-left: 2.5em;
  padding-top: 5em;
}
@media (min-width: 600px) {
  header nav {
    display: flex;
    justify-content: space-between;
    width: 386px;
    transform: translateX(25%);
    height: unset;
    background-color: unset;
    left: 0;
    top: 4.5em;
    padding: 0;
  }
}
@media (min-width: 768px) {
  header nav {
    position: unset;
    justify-content: unset;
    width: unset;
    transform: unset;
  }
}
header nav li {
  margin-bottom: 1em;
}
@media (min-width: 600px) {
  header nav li {
    margin: 0.5em;
    font-family: "Alata", "san-serif";
    text-transform: none;
    font-size: 1rem;
  }
}
@media (min-width: 1440px) {
  header nav li {
    margin: 0;
    margin-left: 2em;
  }
}
header nav li a {
  color: #000;
}
header nav img {
  position: absolute;
  top: 1.7em;
  left: 2em;
}
@media (min-width: 600px) {
  header nav img {
    display: none;
  }
}

.res-menu-input {
  opacity: 0;
  z-index: 1;
}
.res-menu-input:checked ~ nav {
  display: block;
}
.res-menu-input:checked ~ label .res-menu-hamburger-icon {
  display: none;
}
.res-menu-input:checked ~ label .res-menu-close-icon {
  display: block;
}
.res-menu-close-icon {
  display: none;
}
.res-menu-label {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
}
.res-menu-label img {
  position: absolute;
  top: 0;
  left: -1em;
}
@media (min-width: 600px) {
  .res-menu-label img {
    display: none;
  }
}

.landing {
  padding: 1em;
  display: flex;
  flex-direction: column;
  /* Social Media and Professional Links Styling */
}
.landing-social ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.landing-social ul li {
  width: 1.5em;
  margin-bottom: 0.5em;
}
.landing-social-icon {
  background-color: #404040;
  border-radius: 15px;
}
.landing-intro {
  color: #000;
}
.landing-intro h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 0.25em;
}
.landing-intro h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 1.5em;
}
.landing-intro p {
  font-size: 1rem;
  line-height: 1.25rem;
}
.landing-intro img {
  width: 100%;
  object-fit: cover;
}

.projects {
  margin: 0 1rem;
}
.projects h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}

/* Project-directory styling */
.project-directory {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Project (individual item) styling */
.project {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #404040;
}
.project-images {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.project-snapshot {
  object-fit: cover;
}
.project-info {
  padding: 1rem;
  color: #fff;
}
.project-info h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 0.5rem;
  color: #0049b8;
}
.project-info p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.project-tech {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.project-tech li {
  font-size: 0.8rem;
  background-color: #0049b8;
  color: #fff;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  border-radius: 16px;
}
.project-links {
  font-size: 0.85rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}
.project-links a {
  color: #29a865;
  border-bottom: 1px solid #29a865;
}
