body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.landing {
  padding: 24em 7.5em;
  display: flex;
  flex-direction: row;
}

.landing-social {
  width: 7.5em;
  padding: 0.45em 0;
}

.landing-social ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-social li {
  width: 1.5em;
  margin-bottom: 0.5em;
}

.landing-social-icon {
  /* background-color: white; */
}

.landing-intro {
  width: 75em;
  color: #fff;
}

.landing-intro h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0 0 0.25em;
}

.landing-intro h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 1.5em;
}

.projects {
  margin: 0 1rem;
}
.projects h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

/* Project-directory styling */
.project-directory {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Project (individual item) styling */
.project {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #404040;
}
.project-images {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.project-snapshot {
  object-fit: cover;
}
.project-info {
  padding: 1rem;
  color: #fff;
}
.project-info h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  margin: 0 0 0.5rem;
}
.project-info p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.project-tech {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.project-tech li {
  font-size: 0.75rem;
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  line-height: 1rem;
  border-radius: 8%;
}
.project-links {
  font-size: 0.85rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}
.project-links a {
  color: #fff;
}
